<div class="search-container">
  <mat-dialog-content>
    <div class="flex-container">
      <mat-icon
        (click)="closeDrawer()"
        style="height: 27px"
        onKeyDown="closeDrawer()"
        tabindex="0">
        <img
          src="assets/images/backArrow.svg"
          style="width: 10px"
          alt="search" />
      </mat-icon>
      <input
        type="text"
        class="input-field"
        placeholder="Search anything here..."
        name="search"
        [(ngModel)]="searchText"
        autocomplete="off" />
      <button class="right-buttons" (click)="clearSearch()">
        <app-editable-svg
          [fillColor]="'black'"
          [svgName]="'cancel'"></app-editable-svg>
      </button>
    </div>
    <mat-divider class="divider"></mat-divider>
    <div class="flex-container">
      <span class="bold-grey left-section">Recent Searches</span>
      <span class="spacer"></span>
      <span class="headline5 primary-colour right-section">Clear All</span>
    </div>
  </mat-dialog-content>
</div>
